server:
  port: 8087

spring:
  datasource:
    url: jdbc:h2:file:./data/foodorder;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

app:
  jwt:
    secret: foodorder-jwt-secret-key-2024-very-long-string
    expiration: 86400000   # 24小时(ms)

logging:
  level:
    com.foodorder: debug
